<div class="main-container" id="container">
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" >
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text"  formControlName="username" placeholder="Enter your name"
            (keyup)="loginForm.get('username')?.setValue(loginForm.get('username')?.value.toLowerCase())">
        </div>

        <div class="d-flex login-btn">
            <div>
                <button class="btn" type="submit" (click) ="login()">Continue</button>
            </div>
        <div>
            <button class="btn1" type="button" (click)="reset()">Cancel</button>

        </div>
        </div>
    </form>
</div>
</div>



