.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}
.username {
    font-weight: bold;
}
.logout-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    text-align: end;
}
.logout-btn:hover {
    text-decoration: none;
}
select, input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
a {
    text-decoration: none;
    color: #007bff;
}

table {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }